@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800);
*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  height: 100%;
  background: rgb(32, 145, 221);    
}
.big-img img{
  position: absolute;
  left: 20%;
  top: 20%;
  max-width: 500px;
  max-height: 300px;
}
ul{
  position: absolute;
  top: 5%;
  right: 5%;
}
ul li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}
ul li a{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-family: sans-serif;
  font-weight:600;
  color:white;
}
.thumbnail{
  padding-top: 7%;
}
.thumbnail li{
  list-style: none;
  position: relative;
  margin-top: 50px;
  max-width: 100px;
}
.thumbnail img{
  display: block;
  max-width: 120px;
  transition: 0.5s;
}
.thumbnail img:hover{
  transform: translateX(30px);
  transition: 0.5s;
}
.path{
  position: absolute;
  width: 100%;
  height: 100vh;
  background:#e5e5e5;
  clip-path: circle(520px at left 300px);
}
.content{
  position: absolute;
  cursor: pointer;
  max-width: 50%;
  right: 3%;
  top: 20%;
}
.content h1{
  font-size: 80px;
  font-weight: 600;
  font-family:fantasy;
  color:rgb(28, 211, 211);
  text-shadow: 5px 5px 2px rgba(0,0,0,.5);
}
.content h5{
  font-size: 22px;
  font-weight: bold;
  color:black;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 10%;
}
p{
  color:black;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 0px 5px rgba(0,0,0,.5);
  font-family:cursive;
  margin-left: 16%;
}